<a href="/bookstores">To Bookstores Index</a>
<a href="/employees">To Employees Index</a>

<h1><%= @employee.name %></h1>
<p>Age: <%= @employee.age %></p>
<p>Store Employed At: <%= @employee.employed_at %></p>
<p>Employee of the Month: <%= @employee.employee_of_the_month %></p>

<a href="/employees/<%= @employee.id %>/edit">Update Employee</a>