<a href="/bookstores">To Bookstores Index</a>
<a href="/employees">To Employees Index</a>

<h1><%= @store.name %></h1>

<% @store.alphabetized_employees.each do |employee| %>
  <h2 style="display:inline;margin-right:1em;"><%= employee.name %></h2>
  <%= link_to 'Update Employee', "/employees/#{employee.id}/edit" %>
  <p>Age: <%= employee.age %></p>
  <p>Employee of the Month: <%= employee.employee_of_the_month %></p>
<% end %> <br><br>

<a href="/bookstores/<%= @store.id %>/employees/new">Create Employee</a>
<%= button_to 'Unsort', "/bookstores/#{@store.id}/employees", method: :get %>