<a href="/bookstores">To Bookstores Index</a>
<a href="/employees">To Employees Index</a>

<h1><%= @store.name %></h1>

<% @employees.each do |employee| %>
  <h2 style="display:inline;margin-right:1em;"><%= link_to employee.name, "/employees/#{employee.id}" %></h2>
  <%= link_to 'Update Employee', "/employees/#{employee.id}/edit" %>
  <p>Age: <%= employee.age %></p>
  <p>Employee of the Month: <%= employee.employee_of_the_month %></p>
<% end %> <br><br>

<a href="/bookstores/<%= @store.id %>/employees/new">Create Employee</a>
<%= button_to 'Sort Alphabetically', "/bookstores/#{@store.id}/employees", method: :patch %>
<br>
<%= form_with url: "/bookstores/#{@store.id}/employees", method: :get, local: true do |form| %>
  <%= form.label :age, "Find employees older than:" %>
  <%= form.number_field :age, min: 16 %>
  <%= form.submit "Search" %>
<% end %>